.list{
	border: 1px solid grey;
}

.validation-error{
	border: 2px solid red;
}

.validation-error-text{
	color: red
}

.clickable-removeable{
	cursor: pointer;
}

.instructions{
	font-style: italic;
}